body {
    font-family: Arial;
    background: #111;
    color: white;
    text-align: center;
}

.hidden {
    display: none;
}

#menu, #chat {
    margin-top: 50px;
}

#messages {
    height: 300px;
    overflow-y: auto;
    border: 1px solid #444;
    padding: 10px;
    margin: 10px;
}

.input-zone {
    display: flex;
    justify-content: center;
    gap: 10px;
}
